<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.model.mapper.OrderItemMapper">
    <resultMap id="BaseResultMap" type="com.mall.model.pojo.OrderItem">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_no" jdbcType="VARCHAR" property="orderNo"/>
        <result column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="product_img" jdbcType="VARCHAR" property="productImg"/>
        <result column="unit_price" jdbcType="INTEGER" property="unitPrice"/>
        <result column="quantity" jdbcType="INTEGER" property="quantity"/>
        <result column="total_price" jdbcType="INTEGER" property="totalPrice"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, order_no, product_id, product_name, product_img, unit_price, quantity, total_price,
        create_time, update_time
    </sql>
    <select id="selectByOrderNo" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mall_order_item
        where order_no = #{orderNo}
    </select>
</mapper>